docker-data
node_modules
vendor
.env.agent/
temp_core/
docker-compose.override.yml
dev/docker-compose.override.yml
actualizar_traduccion.sh
theme-*.sh
.agent/
personalizaciones/

wp-test-env/
.agent/
