[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/LibreCoopUruguay/MultipleLocalAuth.git
[submodule "themes/themeCulturaenlinea"]
	path = themes/themeCulturaenlinea
	url = https://github.com/LibreCoopUruguay/themeCulturaenlinea.git
[submodule "plugins/AdminLoginAsUser"]
	path = plugins/AdminLoginAsUser
	url = https://github.com/mapasculturais/plugin-AdminLoginAsUser.git
[submodule "plugins/SpamDetector"]
	path = plugins/SpamDetector
	url = https://github.com/mapasculturais/plugin-SpamDetector.git
[submodule "plugins/MapasBlame"]
	path = plugins/MapasBlame
	url = https://github.com/mapasculturais/plugin-MapasBlame.git
[submodule "plugins/WpForumSso"]
	path = plugins/WpForumSso
	url = https://github.com/kterva/plugin-WpForumSso.git
[submodule "plugins/MandatoryMFA"]
	path = plugins/MandatoryMFA
	url = https://github.com/LibreCoopUruguay/plugin-MandatoryMFA.git
[submodule "plugins/RootThemeCustomizer"]
	path = plugins/RootThemeCustomizer
	url = https://github.com/kterva/plugin-RootThemeCustomizer.git
[submodule "plugins/OpportunityPreloader"]
	path = plugins/OpportunityPreloader
	url = https://github.com/LibreCoopUruguay/plugin-OpportunityPreloader.git
